@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url('images/main.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: 70px;
}
header p{
    font-size: 10px;
    color: white;
}
.main__div{
    margin-left: 100px;
    color: white;
    margin-top: 300px;
}
.main__div a{
    background-color: #fff;
    color: #933326;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
}
.second{
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
}
.second div{
    display: flex;
    align-items: center;
    box-shadow: 0 0 32px rgba(147, 51, 38,0.25);
    padding: 20px;
    border-radius: 20px;
    color: rgb(147, 51, 38);
}
.second div img{
    margin-right: 20px;
}
.section__h2{
    color: #933326;
    font-size: 40px;
    font-weight: 500;
    margin-left: 100px;
}
.section__h2 span{
    font-size: 16px;
}
.section__div{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    justify-content: space-between;
}
.section__div article{
    height: 485px;
    width: 380px;
    border: 2px solid #933326;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}

.section__div article h3{
    color: #933326;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}
.section__div article p{
    color: #933326;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
.section__div article a{
    display: inline-block;
    width: 100%;
    background-color: #933326;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}
.section__div article img{
    width: 100%;
}